@media screen and (min-width: 0px) {
  .rodapie__icon img {
    margin-right: 0.25rem;
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 768px) {
  .rodapie__icon img {
    margin-right: 1.25rem;
    height: 80px;
    width: 80px;
  }
}
